{% extends 'base.html' %}

{% block report %}
<li>
    <a href="../../report/">报表</a>
    <img src="../../static/public/img/xuanzhong.png" class="bg-zhong" style="margin-left:-2px;">
</li>
{% endblock %}

{% block body %}
<body style="background:#0b0d24;">
    <div id="wrapper" class="home-page">

        <!-- 内容 -->
        <!--<div class="zhong_nei" style="margin-top:108px;">
        <div class="row shang" style="margin-top:20px;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 daily_biao">
                <div class="biaob">报表信息统计</div>
                <table id="list_table"></table>
            </div>
        </div>
        </div>-->
        <div class="zhong_nei" style="margin-top:120px;">
            <div class="row shang">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fen_you">
                    <form role="form"  method="get" class="form form-inline form-search fen_tt">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="input-group">
                                <span class="input-group-addon">时间:</span>
                                <input type="text" class="form-control" style="width:285px" aria-label="..." placeholder="......."  id="time2">
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-3 -->
                        <div class="form-group" style="margin-left:20px;">
                            <button id="queryButton" type="button" class="btn btn-primary">
                                <i class="layui-icon layui-icon-search"></i> 查询
                            </button>
                            &nbsp;&nbsp;&nbsp;
                            <button id="exportButton" type="button" class="btn btn-primary">
                                <i class="layui-icon layui-icon-search"></i> 导出
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="zhong_nei" style="margin-top:10px;">

            <div class="row shang">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 zuo_rep">
                    <div class="biaob">未开通IPV6局点(IPV4灵活规则使用情况)</div>
                    <div id="report_echarts1" style="width:100%;height:630px;text-align: center;"></div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 you_rep">
                    <div class="biaob">未开通IPV6局点(IPV4掩码规则使用情况)</div>
                    <div id="report_echarts2" style="width:100%;height:630px;text-align: center;">
                        <!-- <img src="Gsj_Web\reportImg\test.jpg"/> -->
                    </div>
                </div>
            </div>

            <div class="row shang">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 zuo_rep">
                    <div class="biaob">开通IPV6局点(IPV4灵活规则使用情况)</div>
                    <div id="report_echarts3" style="width:100%;height:630px;text-align: center;"></div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 you_rep">
                    <div class="biaob">开通IPV6局点(IPV4掩码规则使用情况)</div>
                    <div id="report_echarts4" style="width:100%;height:630px;text-align: center;"></div>
                </div>
            </div>

            <div class="row shang">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 zuo_rep">
                    <div class="biaob">开通IPV6局点(IPV6灵活规则使用情况)</div>
                    <div id="report_echarts5" style="width:100%;height:630px;text-align: center;"></div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 you_rep">
                    <div class="biaob">开通IPV6局点(IPV6掩码规则使用情况)</div>
                    <div id="report_echarts6" style="width:100%;height:630px;text-align: center;"></div>
                </div>
            </div>

        </div><!-- zhong_nei -->
        <!-- footer -->
        <div id="bg-footer">长安通信科技有限责任公司</div>


    </div>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

</body>
{% endblock %}

{% block extra %}
<script type="text/javascript" src="../../static/public/js/report.js"></script>
{% endblock %}